body, a 
{
    font-family: "Open Sans", sans-serif;
}

h1
{
    font-family: "Inter", sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    text-align: center;
}

h1 span{
    font-weight: bold;
    margin-bottom: 32px;
}


span, a 
{
    color: #FF9900;
}

#hero
{
    width: 592px;
    margin: 0px auto 72px;
    text-align: center;
}

#hero img
{
    margin-bottom: 58px;
}


p, #footer
{
    color: #7D7987;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    
}

.line
{
    width: 568px;
    height: 0px;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}


#footer a + a
{
    margin-left: 28px;
}

#balls
{
    position: fixed;
    bottom: 0px;
    right: 0px;
}